

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VehicleRentalManagement</title>

  
  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/images/logo_main_2.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open+Sans&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="/" class="logo ">
        <img src="/images/logo_main_2.png" alt="logo" class="logo-main">
      </a>
      <nav class="navbar" data-navbar>
        <ul class="navbar-list">
          <li>
            <a href="/" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="vehicles" class="navbar-link" data-nav-link>Explore Vehicle</a>
          </li>

          <li>
            <a href="drivers" class="navbar-link" data-nav-link>Hire Drivers</a>
          </li>
          <% if(locals.isLoggedIn && isLoggedIn === true){ %>
            <li>
              <a href="history" class="navbar-link" data-nav-link>Bookings and History</a>
            </li>
            <li>
              <a href="/logout" class="navbar-link" data-nav-link>Logout</a>
            </li>
          <% }else{ %>
            <li>
              <a href="/login" class="navbar-link" data-nav-link>Sign in</a>
            </li>
            <li>
              <a href="/login" class="navbar-link" data-nav-link>Sign up</a>
            </li>
          <% } %>
        </ul>
      </nav>

      <div class="header-actions">

        <a href="#featured-car" class="" aria-labelledby="aria-label-txt">
        </a>
        <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>

      </div>

    </div>
  </header>
